
#subDock {
  position: fixed !important;
  .p-dock-list-container {
    height: 50px !important;
  }
  
}
.smSpeedDial {
  z-index: 9000!important;
  right: 0 !important;
  bottom: 5% !important;
  margin-bottom: 10px !important;
  position: fixed !important;
  .p-speeddial-list {
    margin-right: 18px !important;
  }
}

