<style>
  #intro {
    /* Pint the below path to another image to change the background */
    /* background-image: url('../assets/img/okta_blue_bg.png'); */
    background-image: url('assets/img/bg-cloud-v2.jpg');

    min-height: 100% !important;
    min-width: 100% !important;
    width: auto !important;
    height: auto !important;
    /* Below for Parallax effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

  }
</style>

<div class="appBackground bg-image" id="intro">

  <!-- <div style="background-color: rgba(0, 0, 0, 0.55)"></div> -->
  <app-navbar></app-navbar>
  <div class="mainContainer" fxLayout="row wrap" fxLayoutAlign="center start">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <app-footer></app-footer> -->