<app-sub-navbar></app-sub-navbar>
<ng-template #bigScreen>

  <div class="MainDiv"></div>
  <div class="userName">{{strFullName}}</div>

  <div class="TimeMasterDiv" fxLayout="row wrap" fxLayoutAlign="center center" >

    <div class="pageTitleDiv">
      World Time
    </div>

    <div class="timeDiv" fxLayout="row wrap" fxLayoutAlign="center center" >
      
      <p-panel header="California" id="lgDateTimePanel">
        <p class="pdate">{{WorldClockService.strSanFranDate}}</p>
        <p class="ptime">{{WorldClockService.strSanFranTime}}</p>
      </p-panel>

      <p-panel header="New York" id="lgDateTimePanel">
        <p class="pdate">{{WorldClockService.strNYDate}}</p>
        <p class="ptime">{{WorldClockService.strNYTime}}</p>
      </p-panel>

      <p-panel header="London" id="lgDateTimePanel">
        <p class="pdate">{{WorldClockService.strLondonDate}}</p>
        <p class="ptime">{{WorldClockService.strLondonTime}}</p>
      </p-panel>

      <p-panel header="Singapore" id="lgDateTimePanel">
        <p class="pdate">{{WorldClockService.strSingaporeDate}}</p>
        <p class="ptime">{{WorldClockService.strSingaporeTime}}</p>
      </p-panel>

      <p-panel header="Sydney" id="lgDateTimePanel">
        <p class="pdate">{{WorldClockService.strSydneyDate}}</p>
        <p class="ptime">{{WorldClockService.strSydneyTime}}</p>
      </p-panel>

      <p-panel header="UTC" id="lgDateTimePanel">
        <p class="pdate">{{WorldClockService.strUTCDate}}</p>
        <p class="ptime">{{WorldClockService.strUTCTime}}</p>
      </p-panel>
    </div>

    

    <div class="bannerDiv">
      <img src="assets/img/okta_japan_white_medium.png" class="subBanner">
    </div>
  </div>
</ng-template>

<ng-template #notShow>
  <div></div>
</ng-template>

<!-- ************************* SMALL SCREEN ************************* -->
<!-- ************************* SMALL SCREEN ************************* -->

<ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen">
  <div fxLayout="row wrap" fxLayoutAlign="center start">
    <div class="SMuserName">{{strFullName}}</div>
  </div>

  <div class="smTimeMasterDiv" fxLayout="row wrap" fxLayoutAlign="center center">

    <div class="smpageTitleDiv">
      World Time
    </div>

    <div class="timeDiv" fxLayout="row wrap" fxLayoutAlign="center center">
      
      <p-panel header="California" id="lgDateTimePanel">
        <p class="pdate">{{WorldClockService.strSanFranDate}}</p>
        <p class="ptime">{{WorldClockService.strSanFranTime}}</p>
      </p-panel>

      <p-panel header="New York" id="lgDateTimePanel">
        <p class="pdate">{{WorldClockService.strNYDate}}</p>
        <p class="ptime">{{WorldClockService.strNYTime}}</p>
      </p-panel>

      <p-panel header="London" id="lgDateTimePanel">
        <p class="pdate">{{WorldClockService.strLondonDate}}</p>
        <p class="ptime">{{WorldClockService.strLondonTime}}</p>
      </p-panel>

      <p-panel header="Singapore" id="lgDateTimePanel">
        <p class="pdate">{{WorldClockService.strSingaporeDate}}</p>
        <p class="ptime">{{WorldClockService.strSingaporeTime}}</p>
      </p-panel>

      <p-panel header="Sydney" id="lgDateTimePanel">
        <p class="pdate">{{WorldClockService.strSydneyDate}}</p>
        <p class="ptime">{{WorldClockService.strSydneyTime}}</p>
      </p-panel>

      <p-panel header="UTC" id="lgDateTimePanel">
        <p class="pdate">{{WorldClockService.strUTCDate}}</p>
        <p class="ptime">{{WorldClockService.strUTCTime}}</p>
      </p-panel>
    </div>

    <div class="bannerDiv">
      <img src="assets/img/okta_japan_white_medium.png" class="subBanner">
    </div>
  </div>
</ng-template>