<app-sub-navbar></app-sub-navbar>

<ng-template #bigScreen>
  <div class="userName">{{strFullName}}</div>

  <div class="MasterDiv" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="pageTitleDiv">
      My Project Apps
    </div>

    <div class="projMainDiv" fxLayout="row wrap" fxLayoutAlign="center center">
      <div *ngIf="appLoad; else notShow">
        
        <p-button  id="appBtn" *ngFor="let itemProject of myProjectApps" (onClick)="OpenWebsite(itemProject.struri)" >
          
          <div class="projectBtnLogoDiv" fxLayout="row wrap" fxLayoutAlign="center center">
            <img src="{{itemProject.logoURI}}" class="projectLogo">
          </div>
          <div class="labelDiv">
            {{ itemProject.label }}
          </div>
        </p-button>
      </div>


      <ng-template #notShow>
        <div class="p-field p-col-12 p-md-6">
          <p-progressSpinner strokeWidth="8"></p-progressSpinner>

        </div>
      </ng-template>

    
    </div>

    <div class="bannerDiv">
      <img src="assets/img/okta_japan_white_medium.png" class="subBanner">
    </div>
  </div>
</ng-template>
<!-- ************************* SMALL SCREEN ************************* -->
<!-- ************************* SMALL SCREEN ************************* -->

<ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen">
  <div fxLayout="row wrap" fxLayoutAlign="center start">
    <div class="SMuserName">{{strFullName}}</div>
  </div>

  <div class="smMasterDiv" fxLayout="row wrap" fxLayoutAlign="center center">

    <div class="smpageTitleDiv">
      Dev Info
    </div>

    <div class="smprojMainDiv" fxLayout="row wrap" fxLayoutAlign="center center">

      <p-button  id="appBtn" *ngFor="let itemProject of myProjectApps" (onClick)="OpenWebsite(itemProject.struri)" >
          
        <div class="projectBtnLogoDiv" fxLayout="row wrap" fxLayoutAlign="center center">
          <img src="{{itemProject.logoURI}}" class="projectLogo">
        </div>
        <div class="labelDiv">
          {{ itemProject.label }}
        </div>
      </p-button>


      <ng-template #notShow>
        <div class="smProgressDiv">
          <div class="p-field p-col-12 p-md-6" id="smProgressDiv">
            <p-progressSpinner strokeWidth="8" id="smProgress"></p-progressSpinner>

          </div>
        </div>
      </ng-template>
    </div>

    <div class="bannerDiv">
      <img src="assets/img/okta_japan_white_medium.png" class="subBanner">
    </div>
  </div>
</ng-template>