<app-sub-navbar></app-sub-navbar>

<ng-template #bigScreen>
  <div class="userName">{{strFullName}}</div>

  <div class="MasterDiv" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="pageTitleDiv">
      My Project Apps
    </div>

    <div class="projMainDiv" fxLayout="row wrap" fxLayoutAlign="center center">
      <div *ngIf="appLoad; else notShow">

        <button pButton pRipple type="button" class="p-button-raised p-button-text p-button-plain"  styleClass="p-button-lg"
          *ngFor="let itemProject of myProjectApps" id="myProjectBtn">

          <div class="projectBtnLogoDiv" fxLayout="row wrap" fxLayoutAlign="center center">
            <img src="{{itemProject.logoURI}}" class="projectLogo">
          </div>
          <div class="labelDiv">
            {{ itemProject.label }}
          </div>
        </button>


      </div>


      <ng-template #notShow>
        <div class="p-field p-col-12 p-md-6">
          <p-progressSpinner strokeWidth="8"></p-progressSpinner>

        </div>
      </ng-template>

      <!-- <div class="PanelDiv" *ngFor="let itemWebites of DevInfo">
        <p-button id="appBtn" icon="pi pi-external-link" iconPos="right" (onClick)="OpenWebsite(itemWebites.url)" pTooltip="{{itemWebites.url}}"  tooltipPosition="bottom">
          <a>{{itemWebites.name}}</a>
        </p-button>
      </div> -->
    </div>

    <div class="bannerDiv">
      <img src="assets/img/okta_japan_white_medium.png" class="subBanner">
    </div>
  </div>
</ng-template>
<!-- ************************* SMALL SCREEN ************************* -->
<!-- ************************* SMALL SCREEN ************************* -->

<ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen">
  <div fxLayout="row wrap" fxLayoutAlign="center start">
    <div class="SMuserName">{{strFullName}}</div>
  </div>

  <div class="smMasterDiv" fxLayout="row wrap" fxLayoutAlign="center center">

    <div class="smpageTitleDiv">
      Dev Info
    </div>

    <div class="smprojMainDiv" fxLayout="row wrap" fxLayoutAlign="center center">

      <div *ngIf="appLoad; else notShow">
        Loaded
      </div>


      <ng-template #notShow>
        <div class="p-field p-col-12 p-md-6">
          <p-progressSpinner></p-progressSpinner>

        </div>
      </ng-template>


      <!-- <div class="PanelDiv" *ngFor="let itemWebites of DevInfo">
        <p-button id="appBtn" icon="pi pi-external-link" iconPos="right" (onClick)="OpenWebsite(itemWebites.url)">

          <a>{{itemWebites.name}}</a>
        </p-button>
      </div> -->
    </div>

    <div class="bannerDiv">
      <img src="assets/img/okta_japan_white_medium.png" class="subBanner">
    </div>
  </div>
</ng-template>